body {
    background-color: #f9f9f9;
}

/*共用*/
.l-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 46px;
    color: white;
    border: none;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
}
.control-label {
    margin-top: 6px;
    padding-right: 0;
}

.check-label {
    font-size: 13px;
    color: #7b7b7b;
}

ul {
    padding: 0;
}

a:hover {
    text-decoration: none
}

h6 {
    color: #ababab;
}

.border{
    border: 1px solid #ccc;
}

.product {
    border: 1px solid #ccc;
}

#page {
    margin-top: 112px;
}

.breadcrumb {
    background-color: transparent;
}

.col-xs-6 {
    width: 50%;
    float: left;
    border: none;
}

.offer {
    float: left;
}

.cart-button {
    float: right;
}

.history {
    border: 1px solid #ccc;
}

.history-contect {
    border: 1px solid #ccc;
    min-height: 200px;
}

.product {
    overflow: hidden;
}

.product img {
    transform: scale(1, 1);
    transition: all 1s ease-out;
}

.product img:hover {
    transform: scale(1.2, 1.2);
}

.step {
    height: 120px;
}

.step-item {
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    white-space: nowrap;
    float: left;
}

.step .fas {
    float: left;
    line-height: 100px;
    margin: 0 30px;
}

.step-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.pay-item p {
    font-size: 12px;
}

/* 客服 */
.chat {
    position: fixed;
    background: #e25555;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
}

/* 購物車點開匡 */
.cart-content {
    padding: 5px 20px;
    width: 250px;
}

.dropdown-menu {
    border: 1px solid #77808c;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.product_item {
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 8px;
}

.product-name a {
    color: #000;
}

/* 商品選項 */
.option {
    display: inline-flex;
    margin-bottom: 10px;
    margin-right: 4px;
}
.option a {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*結帳頁面step2*/
.shipping-method {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #e2e2e2;
    padding: 16px 24px;
    margin: 0;
    background-color: #fff;
    color: #7c7c7c;
    border-radius: 6px;
    cursor: pointer;
}

.shipping-item {
    height: 100px;
    width: 100%;
    border: 1px solid #e2e2e2;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
    color: #7c7c7c;
    position: relative;
}

.shipping-item:hover {
    color: #007bff;
    border: 2px solid #007bff !important;
}

.shipping-item .fas {
    position: absolute;
    top: -8px;
    right: 10px;
    font-size: 20px;
    background: #fff;
    border-radius: 50%;
    padding-right: 0 !important;
}

.on-active {
    border: 2px solid #007bff !important;
    color: #007bff;
}

.pick-btn {
    border: none;
    margin-left: 14px;
    width: 68%;
    background-color: #00c123;
}

.sub-label {
    font-size: 12px;
}

/*結帳頁step2右側*/
.checkout-amount-wrap {
    background-color: #fff;
    padding: 5px 20px;
}

.checkout-amount {
    color: #7c7c7c;
    font-size: 13px;
}

.checkout-amount li {
    border-bottom: 1px solid #9a9ea2;
    padding: 10px 0;
}

.checkout-amount li:last-child {
    border-bottom: none;
}

.amount-title {
    color: #333;
    font-size: 16px;
}

.price {
    color: #007bff;
}

.color-gray-text {
    color:#868686;
}

.total {
    font-size: 20px;
    font-weight: 500;
}

/* 結帳頁step3 */
.user-login-buttons {
    display: flex;
}
.fb-login-btn {
    background-color: #3b5998;
    flex: 1;
}

.line-login-btn {
    background-color: #00c300;
    flex: 1;
}

.user-login-btn {
    background-color: #86919b;
    flex: 2;
}

.hint-label {
    font-size: 12px;
    color: #ff6855;
}

.checkout-btn {
    background-color: #ff6855;
    /* margin-left: 58.3333333333%; */
}

hr.divider {
    position: relative;
}

hr.divider:after {
    content: "or";
    text-align: center;
    position: absolute;
    top: 0px;
    width: 50px;
    color: #93A1AA;
    font-weight: 400;
    background: #fff;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn-facebook {
    background-color: #2c7ece;
}
.btn-line {
    background-color: #05ce05;
}
.btn-user {
    background-color: #86919b;
}
.login-footer a {
    color: #808080 !important;
}
/* footer */
.footer-link {
    background-color: rgb(238, 238, 238);
}

.footer-link a {
    color: #333;
}

.toTop {
    position: fixed;
    bottom: 162px;
    right: 24px;
    opacity: .9;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    border: 1px #ffffff00 solid;
    background: #66be96;
    box-shadow: 1px 1px 4px 0 #126841;
    cursor: pointer;
}

@media (max-width:990px) {
    .pay-item {
        width: 28%;
    }
}

@media (max-width:375px) {
    .pay-item {
        width: 44%;
    }
}