a {
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

section.content {
  padding-top:10px ;
  min-height: 90vh;
}
// 我的最愛 愛心
.far.fa-heart{
  color: red;
}

// 原價
.originalPrice{
  color: #aaa;
  font-size: 0.8em;
  text-decoration: line-through;
  margin-bottom: 4px;
}
// 特價
.offer{
  color: #ff5353;
  font-size: 1.5em;
}